video {
    object-fit: cover;
    width: 100%; 
    height: fixed;
    z-index: -1;
}

    .hero-container { 
        background: url('/Users/kareemmagdy/Desktop/adopt-a-pet/client/src/assets/dog.jpg') center center/cover no-repeat;
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
        object-fit: contain; 
         
    }


    .section-ux-design {
        position: relative;
    }
    
    .overlay-text {
        position: absolute;
        color: #fff;
        padding: 23% 15%;
        z-index: 0;
        text-align: center;
        font-size: 100px;
        align-items: center;

    }
    

    
    #video {
        width: 100vw;
        z-index: -1;
        position:relative;

    }

    .pets-text1
    {
     font-size:100px;
     align-items: center;
     

    }
    .pets-text2 {
        align-items: center;
        font-size:100px

    }